.demo {
    width: 100px;
    height:100px;
    background-color:gray;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
  }
  
  .red{
    background-color:red;
  }
  
  .green{
    background-color:green;
  }
  
  .blue{
    background-color:blue;
  }